#left {
  float: left;
  padding: 5em;
  height: 5%;
}

#right {
  float: right;
  padding: 5em;
  height: 100%;
}

#throws p{
  border-style: solid;
  text-align: center;
}

.button {
  width: 100%;
  height: 100%;
}

.bullBut {
  background-color: black;
  color: white;
}

.redBut {
  background-color: red;
  color: white;
}

.blueBut {
  background-color: blue;
  color: white;
}

.missBut {
  background-color: red;
  color: white;
}

.clutchBut {
  background-color: green;
  color: white;
}

.undoBut {
  background-color: purple;
  color: white;
}
