.scores {
  border-style: solid;
  text-align: center;
}

.tots {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 2px dashed red;
}

#hatStats, #bigStats {
    text-align: center;
    vertical-align: middle;
}

.container {
  display: flex;
}

.left {
  float: left;
  padding: 1em;
  height: 5%;
  width: 33%;
  border: solid 1px red;
  overflow: hidden;
}

.mid {
  display: table;
  flex-wrap: wrap;
  padding: 1em;
  height: 100%;
  width: 33%;
  border: solid 1px red;
  overflow: hidden;
}

.right {
  padding: 1em;
  height: 100%;
  width: 33%;
  border: solid 1px red;
  overflow: hidden;
}

.bullBut {
  background-color: black;
  color: white;
}

.redBut {
  background-color: red;
  color: white;
}

.blueBut {
  background-color: blue;
  color: white;
}

.missBut {
  background-color: red;
  color: white;
}

.clutchBut {
  background-color: green;
  color: white;
}

.undoBut {
  background-color: purple;
  color: white;
}

.buttonsRow {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.button-wrapper {
    display: inline-block;
    margin: 0;
    padding: 0;
    float:left;
}

button {
    height: 69px;
    width: 100%;
    margin: 2px;
}

body {
  background:
    /*url(../images/Background.jpg)*/
    no-repeat;
  background-size: cover;
}

p {
  text-align: center;
}
