.gThrows {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 10px;
}

.gThrows > div {
  border-style: solid;
  text-align: center;
  font-size: x-large;
}

.gTots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 10px;
  font-size: x-large;
}

.gTots > div {
  border-style: solid;
  text-align: center;
  font-size: x-large;
}

.pName { grid-area: 1 / 1 / 2 / 2; }
.pa1 { grid-area: 1 / 2 / 2 / 3; }
.pa2 { grid-area: 1 / 3 / 2 / 4; }
.pa3 { grid-area: 1 / 4 / 2 / 5; }
.pa4 { grid-area: 1 / 5 / 2 / 6; }
.pa5 { grid-area: 1 / 6 / 2 / 7; }
.bName { grid-area: 2 / 1 / 3 / 2; }
.ba1 { grid-area: 2 / 2 / 3 / 3; }
.ba2 { grid-area: 2 / 3 / 3 / 4; }
.ba3 { grid-area: 2 / 4 / 3 / 5; }
.ba4 { grid-area: 2 / 5 / 3 / 6; }
.ba5 { grid-area: 2 / 6 / 3 / 7; }

.pNameTot { grid-area: 1 / 1 / 2 / 2; }
.pTot1 { grid-area: 1 / 2 / 2 / 3; }
.pTot2 { grid-area: 1 / 3 / 2 / 4; }
.pTot3 { grid-area: 1 / 4 / 2 / 5; }
.bNameTot { grid-area: 2 / 1 / 3 / 2; }
.bTot1 { grid-area: 2 / 2 / 3 / 3; }
.bTot2 { grid-area: 2 / 3 / 3 / 4; }
.bTot3 { grid-area: 2 / 4 / 3 / 5; }

.t1Name { grid-area: 1 / 1 / 2 / 2; }
.t1a1 { grid-area: 2 / 1 / 3 / 2; }
.t1a2 { grid-area: 3 / 1 / 4 / 2; }
.t1a3 { grid-area: 4 / 1 / 5 / 2; }
.t1a4 { grid-area: 5 / 1 / 6 / 2; }
.t1a5 { grid-area: 6 / 1 / 7 / 2; }
.t1PointDif { grid-area: 7 / 1 / 8 / 2; }
.t2Name { grid-area: 1 / 2 / 2 / 3; }
.t2a1 { grid-area: 2 / 2 / 3 / 3; }
.t2a2 { grid-area: 3 / 2 / 4 / 3; }
.t2a3 { grid-area: 4 / 2 / 5 / 3; }
.t2a4 { grid-area: 5 / 2 / 6 / 3; }
.t2a5 { grid-area: 6 / 2 / 7 / 3; }
.t2PointDif { grid-area: 7 / 2 / 8 / 3; }

.t1NameTot { grid-area: 1 / 1 / 2 / 2; }
.t1Tot1 { grid-area: 2 / 1 / 3 / 2; }
.t1Tot2 { grid-area: 3 / 1 / 4 / 2; }
.t1Tot3 { grid-area: 4 / 1 / 5 / 2; }
.t2NameTot { grid-area: 1 / 2 / 2 / 3; }
.t2Tot1 { grid-area: 2 / 2 / 3 / 3; }
.t2Tot2 { grid-area: 3 / 2 / 4 / 3; }
.t2Tot3 { grid-area: 4 / 2 / 5 / 3; }

.scores {
  border-style: solid;
  text-align: center;
}

.tots {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#hatStats, #bigStats {
    text-align: center;
    vertical-align: middle;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.container {
  display: flex;
}

.left {
  float: left;
  padding: 1em;
  height: 5%;
  width: 33%;
  overflow: hidden;
}

.mid {
  display: table;
  flex-wrap: wrap;
  padding: 0.5em;
  height: 100%;
  width: 33%;
  overflow: hidden;
}

.right {
  padding: 1em;
  height: 100%;
  width: 33%;
  overflow: hidden;
}

.buttonsRow {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.button-wrapper {
    display: inline-block;
    margin: 0;
    padding: 0;
    float:left;
}

button {
    height: 69px;
    width: 100%;
    margin: 2px;
}

body {
  background:
    /*url(../images/Background.jpg)*/
    no-repeat;
  background-size: cover;
}

p {
  text-align: center;
}

form {
/* Center the form on the page */
margin: 0 auto;
width: 400px;
/* Form outline */
padding: 1em;
border: 1px solid #CCC;
border-radius: 1em;
background-color:rgba(192,192,192,0.8);
}
